body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* li {
  background-color : #101010;
  font-family : "sans-serif";
  color : white;
  padding : 10px;
  border-radius : 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 10px;
} */